<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-projects.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="top-nav" style="padding-left: 20px; padding-right: 20px; display: flex; justify-content: space-between;">

                <h2>Portfolio</h2>
                <div>
                    <ul style="display: flex; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        <ul style="cursor: pointer;">Home</ul>
                        <ul style="cursor: pointer;">My Resume</ul>
                        <ul style="cursor: pointer;">Projects</ul>
                        <ul style="cursor: pointer;">Blog</ul>
                        <ul style="cursor: pointer;">Contact info</ul>
                    </ul>
                </div>
            </div>
            <h1 style="font-size: 100px; text-align: center; margin-bottom: 0px;">KABINDRA BOHARA G</h1>
            <div style="display: flex; justify-content: center;">

                <div style="height: 5px; width: 200px; background-color: blue;"></div>
            </div>
        </div>

        <div class="me">

            <img style="height: 550px; width: 550px; margin-right: 40px;" src="/src/profile_image-b.png" alt="">
            
            <div style="padding-left: 40px;">

                
                <h1>About Me</h1>
                <p>I’m 21 years old and currently in my final year of Computer Science & Engineering at SNS College of Technology, Coimbatore. I completed my schooling at Mount Carmel Matriculation Higher Secondary School in 2023, with a background in Science and Computer Studies.
                    I chose Computer Science because I’ve always enjoyed programming—it’s fascinating how, with the right knowledge, you can make a computer do almost anything you imagine.
                    Lately, I’ve been especially interested in Machine Learning and Data Science, and I’m actively working on building my skills in these areas.
                    Outside of academics, I enjoy battle royale games like Free Fire and Call of Duty. I also like reading articles, exploring random YouTube content, traveling, and binge-watching series.
                    I strongly believe that passion, combined with determination, can take you a long way.</p>
                </div>
        </div>
    </div>
</body>
</html>